*{
    padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#wrapper{
height: 100vh;
overflow-y: auto;
overflow-x: hidden;
/* overflow-y:hidden; */
}
.container{
    width:100%;
     margin: 0 auto;
  padding: 20px;
}
.container h1{
    text-align: center;
    margin: 20px 0;
    font-size: 3rem;
    margin-bottom:40px;
}
.gallery{
    display: flex;
     flex-wrap: wrap; 
     justify-content: center;
     gap:2%;
 
}
figure {
    width: 300px;
    height: 201px ;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
}
figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: grayscale(100%); */
    box-shadow: 0 0 20px #333;
}
figure figcaption{
    position: absolute;
     bottom: 0;
     left: 0;
     
     padding:25px;
     width: 100%;
     height: 20%;
     font-size: 16px;
     font-weight: 500;
     color: #ffff;
      opacity: 0;
      border-radius: 0 0 10px 10px;     
      background: linear-gradient(0deg, rgba(0,0,0,0.5) 0% rgba(255,255,255,255));
 transition: 0.3s;
    }
figure:hover{
    transform:scale(1.03);
    transition: .5s;
    filter: drop-shadow(0 0 10px #333);
}
figure:hover img{
    transition: .5s;
    filter: grayscale(0%);
    
}
figure:hover figcaption{
  opacity: 1;
  transform: scale(1.03);

}
